
<div class="menu-container">
    <div class="column">
        <h2>¡Te damos la bienvenida!</h2>
        <p>En esta aplicación podras resolver varios crucigramas y aprender acerca de el arroyo Maldonado, y como fue afectado por la inundación del año 2013.</p>
        
        <mat-card class="menu-card">

        <mat-card-header>
            <mat-card-title>Elige el nivel de dificultad que deseas:</mat-card-title>

        </mat-card-header>

        <div class="menu-options">
            <button mat-raised-button routerLink="/puzzle/easy">Fácil</button>
            <button mat-raised-button routerLink="/puzzle/intermediate">Intermedio</button>
            <button mat-raised-button routerLink="/puzzle/hard">Dificil</button>
        </div>
        </mat-card>
</div>
</div>
