<div class="word-container">
    <div  class="word-header"
        [class.correct]="showValidation && !highContrast && isCorrect()"
        [class.incorrect]="showValidation && !highContrast && !isCorrect()">
        <span>{{pos+1}}</span>
    </div>
    <div id="validation-icons" class="word-header" [class.high-contrast]="highContrast" [class.show-validation]="showValidation">
        <mat-icon *ngIf="isCorrect()" aria-hidden="false" aria-label="Palabra correcta">check_circle</mat-icon>
        <mat-icon *ngIf="!isCorrect()" aria-hidden="false" aria-label="Palabra incorrecta">cancel</mat-icon>
    </div>
    <div *ngFor="let char of [].constructor(paddingSlots)" class="letter-container padding-letter">
    </div>
    <div *ngFor="let char of word.split(''); let i = index" class="letter-container"
       [class.before-letter]="centralLetter > i"
       [class.center-letter]="centralLetter == i"
       [class.after-letter]="centralLetter < i"
       [class.high-contrast]="highContrast"
    >
        <input #letter [attr.aria-label]="buildAriaLabel(i, centralLetter == i)" class="letter-input"  maxlength="1" autoTabOnFull
            (change)="emitChangeEvent()"
        />
    </div>
</div>
